.list_table{
    border: 5px solid #04AA6D;
    margin-left: auto;
    margin-right: auto;
}

.list_table th{
    color: white;
    background-color: #04AA6D;
    text-align: center;
}

.list_table th,td {
    border: 3px solid #04AA6D;
    padding: 10px;
    font-weight: bold;
}

.wirteItem_table {

    border: 5px solid #04AA6D;
}

.wirteItem_table th{
    color: white;
    background-color: #04AA6D;
    text-align: center;
}

.wirteItem_table th,td {
    border: 3px solid #04AA6D;
    padding: 10px;
    font-weight: bold;
}

.flex_box {
    display: flex;
    justify-content: center;
}

.title {

}

.itemDescription {
    width: 60%;
    height: auto;
}

#content {
}

#title {
}