#list_table{
    border: 5px solid #04AA6D;
}

#list_table th{
    color: white;
    background-color: #04AA6D;
}

#list_table th,td {
    border: 3px solid #04AA6D;
    padding: 10px;
    font-weight: bold;
}

#content {
}

#title {
}