* {
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

header {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: white;
    /*background: linear-gradient(darkslategray,darkgrey);*/
    padding: 20px;
    text-align: left;
    font-size: 50px;
    color: #04AA6D;
}

h1 {
    color: #04AA6D;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    /*background: linear-gradient(grey,darkslategray);*/
    padding: 10px;
}

section {
    display: -webkit-flex;
    display: flex;
}

.head {
    top: 0;
    position: sticky;
    z-index: 3;
}

.nav {
    top: 100px;
    position: sticky;
    z-index: 3;
}

/* Style the list inside the menu */
nav ul {
    border-radius: 15px;

    list-style-type: none;
    padding: 10px;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: white;
    /*background: linear-gradient(darkgrey,darkslategray);*/
    height: auto; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    nav, header {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/*서브 네비게이터*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    text-style: border;
    display: block;
    color: black;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}

.main {
    z-index: 0;
}

/*메인 네비게이터*/

/*li a:hover:not(.active) {*/
/*    background-color: #111;*/
/*}*/

#Main_Box {
    padding: 25px;
}

/* Style the footer */
/*footer {*/
/*    background-color: darkslategray;*/
/*    padding: 60px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

.button {
    border-radius: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {background-color: #04AA6D;}

.button2 {
    border-radius: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2:hover {background-color: #04AA6D;}

.button3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button3:hover {background-color: #04AA6D;}